a:link, a:visited {
    color: lightcyan;
}

a:hover {
    color: lightpink;
}

p {
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;  
}

body {
    font:14px Verdana;
    background-color: darkgreen;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    font:14px Verdana;
}

th {
    font-weight:bold;
}

table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

#note, footer {
    font-size: smaller;
    text-align: center;
}