p {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td, tr {
    font:14px Verdana;
}

table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th {
    font-weight:bold;
}

#note, footer {
    font-size: smaller;
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;  
}